<!doctype html>
<html lang="en" ng-app="pagerdutyDashboard">
<head>
  <meta charset="utf-8">
  <title>PagerDuty Incident Management Dashboard</title>
  <script src="socket.io/socket.io.js"></script>

  <!-- Assets are built by Grunt -->
  <script src="assets/dashboard.js"></script>
  <link rel="stylesheet" href="assets/dashboard.css">
</head>
<body ng-controller="dashboardController">
  <div class="container">
    <div ng-hide="loaded" class="loader"></div>

    <!-- "Bad" core groups -->
    <core-group ng-repeat="group in data.coreGroups.bad"></core-group>

    <!-- "Bad" other services -->
    <div class="otherGroup group" ng-show="data.otherGroup.badCount > 0">
      <h2><span>Other</span></h2>
      <div class="details">
        <ul>
          <feature ng-repeat="feature in data.otherGroup.bad"></feature>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>

    <!-- "Good" core groups -->
    <core-group ng-repeat="group in data.coreGroups.good"></core-group>

    <!-- "Good" other services -->
    <div class="otherGroup group" ng-show="data.otherGroup.goodCount > 0">
      <h2><span>Other</span></h2>
      <div class="details">
        <ul>
          <feature ng-repeat="feature in data.otherGroup.good"></feature>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>

  </div>
</body>
</html>
