<div class="customization">
  <h2>Custom View Configuration</h2>

  <form>
    <div class="url">
      <input disabled type="text" class="form-control"
      ng-value="settingControl.toUrl()">
      <div class="btn-group">
        <a ng-href="{{settingControl.toUrl()}}" class="btn btn-success">Open</a>
        <button ng-click="settingControl.setDefaultSettings()"
        type="button" class="btn btn-warning">Reset All</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>Group Order</h3>

        <p>Groups are always sorted by status first.
        The numbers below determine the second sort order.
        Groups with no number are considered to have a value of 0.</p>

        <label class="group-order">
          Hide groups with an order lower than:
          <input type="text" ng-model="settings.groupCutoff" />
        </label>

        <ul class="group-order">
          <li ng-repeat="group in cachedData.groups">
            <label>
              <input type="text" ng-model="settings.groups[group.id]" />
              {{group.name}}
            </label>
          </li>
        </ul>

        <button ng-click="settings.groups = {}" type="button"
        class="btn btn-warning">Reset Order</button>

      </div>
      <div class="col-sm-6">
        <h3>Animations</h3>

        <ul>
          <li>
            <label>
              <input type="checkbox" ng-model="settings.animateHeadings" />
              Animated group headers when &quot;critical&quot;
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" ng-model="settings.animatePage" />
              Animated background when &quot;critical&quot;
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" ng-model="settings.flashOnWarning" />
              Also include the &quot;warning&quot; state in the above options
            </label>
          </li>
        </ul>

        <h3>Scrolling</h3>

        <ul>
          <li>
            <label>
              <input type="checkbox" ng-model="settings.scrollTop" />
              Scroll-to-top on status change
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" ng-model="settings.hideScrollBar" />
              Disable and hide the scroll bar
            </label>
          </li>
        </ul>

        <h3>Sounds</h3>

        <ul>
          <li>
            <label>
              <input type="checkbox" ng-model="settings.playSounds" />
              Play sounds on status change
            </label>
          </li>
        </ul>

        <h3>Legend</h3>
        <div class="legend">
          <ul class="row">
            <li class="col-md-4 col-sm-6">
              <status status="'critical'"></status> Critical
            </li>
            <li class="col-md-4 col-sm-6">
              <status status="'warning'"></status> Warning
            </li>
            <li class="col-md-4 col-sm-6">
              <status status="'active'"></status> Active
            </li>
            <li class="col-md-4 col-sm-6">
              <status status="'maintenance'"></status> Maintenance
            </li>
            <li class="col-md-4 col-sm-6">
              <status status="'disabled'"></status> Disabled
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
