<div class="customization">
  <h2>Custom View Configuration</h2>

  <div class="input-group">
    <span class="input-group-btn">
      <a ng-href="{{getUrl()}}" class="btn btn-success">Open</a>
    </span>
    <input disabled type="text" class="form-control" ng-bind="" value="{{getUrl()}}">
  </div>

  <form>
    <div class="row">
      <div class="col-sm-6">
        <h3>Include / Exclude</h3>

        <h4>Other Groups</h4>
        <ul>
          <li>
            <label>
              <input type="checkbox" ng-model="otherProducts" />
              Show &quot;Other Products&quot;
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" ng-model="otherIssues" />
              Show &quot;Other Issues&quot;
            </label>
          </li>
        </ul>

        <h4>Core Groups</h4>
        <div class="querymodes">
          <label>
            <input type="radio" ng-model="querymode" value="includeall" />
            Include All
          </label>
          <label>
            <input type="radio" ng-model="querymode" value="include" />
            Include
          </label>
          <label>
            <input type="radio" ng-model="querymode" value="exclude" />
            Exclude
          </label>
        </div>

        <ul class="query-list" ng-hide="querymode === 'includeall'">
          <li ng-repeat="group in cachedData.groups" ng-hide="group.isOtherGroup">
            <label>
              <input type="checkbox" ng-model="queryGroups[group.id]" />
              {{group.name}}
            </label>
          </li>
        </ul>

      </div>
      <div class="col-sm-6">
        <h3>Notifications</h3>

        <ul>
          <li>
            <label>
              <input type="checkbox" ng-model="animateHeadings" />
              Animated Group Headers on Errors
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" ng-model="animatePage" />
              Animated Background on Errors
            </label>
          </li>
        </ul>
      </div>

    </div>
  </form>
</div>
