<div class="customization">
  <h2>Custom View Configuration</h2>

  <form>
    <div class="url">
      <input disabled type="text" class="form-control" ng-value="settingControl.toUrl()">
      <div class="btn-group">
        <a ng-href="{{settingControl.toUrl()}}" class="btn btn-success">Open</a>
        <button ng-click="settingControl.setDefaultSettings()" type="button" class="btn btn-warning">Reset</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>Group Order</h3>

        <p>Groups are always sorted by status first. These settings determine the second sort order. The default value is 0.</p>

        <label class="group-order">
              Hide groups with an order lower than: <input type="text" ng-model="settings.groupCutoff" />
        </label>

        <ul class="group-order">
          <li ng-repeat="group in cachedData.groups">
            <label>
              <input type="text" ng-model="settings.groups[group.id]" />
              {{group.name}}
            </label>
          </li>
        </ul>

      </div>
      <div class="col-sm-6">
        <h3>Notifications</h3>

        <ul>
          <li>
            <label>
              <input type="checkbox" ng-model="settings.animateHeadings" />
              Animated Group Headers on Errors
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" ng-model="settings.animatePage" />
              Animated Background on Errors
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" ng-model="settings.scrollTop" />
              Scroll-to-top on Status Change
            </label>
          </li>
        </ul>
      </div>

    </div>
  </form>
</div>
