<a class="customize-link" href="#/customize"><span class="glyphicon glyphicon-cog"></span></a>

<div class="group" ng-repeat="group in data.groups | filterGroups" ng-class="group.status + (group.isOtherGroup? ' other-group' : ' core-group' )">
  <h2><span>{{group.name}}</span></h2>
  <div class="details">

    <div class="serversite" ng-show="group.site || group.server">
      <div class="server" ng-show="group.server">
        <a ng-href="https://{{data.subdomain}}.pagerduty.com{{group.server.service_url}}">
          <h3>Server</h3>
          <div class="status" ng-class="group.server.status"></div>
        </a>
        <div class="clearfix"></div>
      </div>
      <div class="site" ng-show="group.site">
        <a ng-href="https://{{data.subdomain}}.pagerduty.com{{group.site.service_url}}">
          <h3>Site</h3>
          <div class="status" ng-class="group.site.status"></div>
        </a>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="dependencies header" ng-hide="group.dependencies.length === 0">
      <h3>Services</h3>
      <ul>
        <service ng-repeat="service in group.dependencies | orderBy:'-statusNumber'"></service>
      </ul>
       <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div class="features" ng-hide="group.features.length === 0">
      <h3 ng-hide="group.isOtherGroup">Features</h3>
      <ul>
        <service
        ng-repeat="service in group.features | orderBy:'-statusNumber'"
        ng-hide="feature.properName === 'Site' || feature.properName === 'Server'"></service>
      </ul>
       <div class="clearfix"></div>
    </div>

    <div class="dependencies" ng-hide="group.dependencies.length === 0">
      <h3>Services</h3>
      <ul>
        <service ng-repeat="service in group.dependencies | orderBy:'-statusNumber'"></service>
      </ul>
       <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
